<ion-app>
  <ion-header class="p-4  bg-red-600 md:flex md:items-center md:justify-between">
    <div class="flex justify-center md:justify-between items-center text-center mx-10">
      <div>
          <p class="font-bold text-lg md:text-2xl">ANGULAR</p>
          <p class=" md:text-2xl">TEMPLATES</p>
      </div>
        <span class="text-3xl cursor-pointer md:hidden"><ion-icon src="/path/to/external/file.svg"></ion-icon></span>

    </div>
   
    <ul class=" p-2 w-full md:w-auto
           md:z-auto md:static md:bg-red-600 md:text-white md:mr-8 items-center 
          md:flex md:space-x-10 ">
      <li><a href="#" class="text-white my-8 mx-4 md:my-0 text-sm ">ANGULAR BUNDLE</a></li>
      <li><a href="#" class="text-white my-8 mx-4 md:my-0 text-sm ">ADMIN TEMPLATE</a></li>
      <li><a href="#" class="text-white my-8 mx-4 md:my-0 text-sm ">LEARN</a></li>
      <button class="text-sm mx-2 my-2 p-1 px-2 border-2 rounded-md border-white border-solid">REGISTER</button>
      <button class="text-sm mx-2 my-2 p-1 px-2 border-2 rounded-md border-white border-solid">LOGIN</button>
    </ul>
  </ion-header>
  <ion-content class=" bg-white">
    <div class="mx-8 justify-center lg:mx-28 xl:mx-80">
      <h2 class="text-red-700 bold text-4xl flex justify-center md:justify-start">Privacy Policy</h2>
      <p class="my-4">AngularTemplates understands the importance of your personal privacy. Therefore, we have created
        this Privacy
        Policy so
        that you know how we use and disclose your information when you make it available to us. The Privacy Policy
        below
        discloses our practices regarding information collection and usage website located at
        http//angular-templates.io,
        the
        related mobile website, and the mobile application (collectively, the “Websites”) and the service provided
        thereon
        (the
        “Service”).</p>

      <p>By using or accessing the Websites and the Service, you signify your agreement to be bound by this Privacy
        Policy. IF
        YOU DO NOT AGREE TO THIS PRIVACY POLICY YOU MAY NOT ACCESS OR OTHERWISE USE OUR SERVICE OR PARTICIPA­­TE IN OUR
        SERVICES.</p>
      <p>Key aspects of our privacy practices described in this Privacy Policy include the following explanations:</p>

      <ul class="list-disc px-12">
        <li>The information we collect and why we collect it;</li>
        <li>How we use that information;</li>
        <li>How we share information; and</li>
        <li>The choices we offer.</li>
      </ul>
      <div class="my-4">
        <h2>Personally Identifiable Information That We Collect:</h2>
        <p>We may ask you for, or you may voluntarily submit, personally identifiable information when you are using the
          Service.
          The personally identifiable information which you may provide to us could include, but is not limited to:</p>
        <ul class="list-disc px-12">
          <li>Your name</li>
          <li>Your contact information (including, without limitation, address and email address);</li>
          <li>Your IP address; and</li>
          <li>Other personal information.</li>
        </ul>
      </div>
      <div class="my-4">
        <h2>Non-Personal Or Aggregate Information That We Collect:</h2>
        <p>When you access our Service, we may automatically collect non-personally identifiable information from you,
          such as IP
          host address, web pages viewed, browser type, operating system, referring service, search information, device
          type, page
          views, usage and browsing habits on the Service and similar data. We may also aggregate demographic
          information
          collected from our users (such as the number of users in a particular geographical location) in a manner which
          does not
          identify any one individual. We may also aggregate information collected offline in connection with the
          Service, obtain
          non-personally identifiable information from third party sources and develop aggregate information by
          anonymizing
          previously collected personally identifiable information.</p>
        <p class="my-4">It is possible at times when collecting non-personally identifiable information through
          automatic means that
          we may
          unintentionally collect or receive personally identifiable information that is mixed in with the
          non-personally
          identifiable information. While we will make reasonable efforts to prevent such incidental data collection,
          the
          possibility still exists. If you believe that we have inadvertently collected your personal information,
          please notify
          us at contact@angular-templates.io</p>
      </div>
      <div class="my-4">
        <h2>Information Usage</h2>
        <p>We will only use your personally identifiable information as described below, unless you have specifically
          consented to
          another type of use, either at the time the personally identifiable information is collected from you or
          through some
          other form of consent from you or notification to you:</p>
      </div>
      <div class="my-4">
        <ul class="list-disc px-12">
          <li>We may share your personally identifiable information collected in connection with providing the Service.
          </li>
          <li>We may use your personally identifiable information to respond to your inquires or requests.</li>
          <li>We may use your personally identifiable information to send you emails from time to time about our
            services, but we will
            not provide your personally identifiable information to third parties for them to contact you directly
            unless otherwise
            permitted by this Privacy Policy or you provide your consent.</li>
          <li>We may share your personally identifiable information with third parties (collectively, the “Third Party
            Vendors”) to
            further the purpose for which you provided such information to us. For example, we may share your
            information with
            Mailchimp, for the purpose of sending emails. We urge you to read the privacy practices of all of our Third
            Party
            Vendors before submitting any personally identifiable information through the Service.</li>
          <li>We may disclose personally identifiable information as required by law or legal process.</li>
          <li>We may disclose personally identifiable information to investigate suspected fraud, harassment or other
            violations of
            any law, rule or regulation, or the terms or policies for our services or our sponsors.</li>
          <li>We may transfer your personally identifiable information in connection with the sale or merger or change
            of control of
            AngularTemplates or the division responsible for the services with which your personally identifiable
            information is
            associated.</li>
        </ul>
      </div>
      <div class="my-4">
        <p>Non-personally identifiable or aggregate information may be used by us for any purposes permitted by law and
          may be
          shared with any number of parties, provided that such information shall not specifically identify you.</p>
      </div>
      <div class="my-4">
        <h2>Cookies And similar Technologies</h2>
        <p>
          "Cookies" are pieces of information that may be placed on your computer by a service for the purpose of
          facilitating and
          enhancing your communication and interaction with that service. Many services use cookies for these purposes.
          We may use
          cookies (and similar items such as clear gifs, web beacons, tags, etc.) on our Service to customize your visit
          and for
          other purposes to make your visit more convenient or to enable us to enhance our Service. We may also use and
          place
          cookies (and similar items) on your computer from our third party service providers in connection with the
          Service, such
          as an analytics provider that helps us manage and analyze Service usage, as described more fully below. In
          addition, our
          advertisers and business partners may set cookies and similar items on your computer when you use our Service.
          You may
          stop or restrict the placement of cookies on your computer or flush them from your browser by adjusting your
          web browser
          preferences, in which case you may still use our Service, but it may interfere with some of its functionality.
          Cookies
          and similar items are not used by us to automatically retrieve personally identifiable information from your
          computer
          without your knowledge.
        </p>
        <p>If you delete your cookies, change browsers or use a different cookie, our cookie (or an opt-out cookie) may
          no longer
          work and you will have to reinput (or opt-out) again.</p>
      </div>
      <div class="my-4">
        <h2>Analytics and Conversion Tracking:</h2>
        <p class="my-4">We may use analytics services that use cookies, javascript and similar technologies to help us
          analyze how users use the
          Service. The information generated by these services about your use of the Service (including your IP address
          or a
          truncated version of your IP address) is transmitted to and stored by analytics service providers on their
          servers.
          Those service providers will use this information for the purpose of evaluating your, and other users’, use of
          the
          Service, compiling reports for us on website activity and providing other services relating to website
          activity and
          Internet usage.</p>
        <p class="my-4">We may collect information about your computer, including your IP address, operating system and
          browser type, for system
          administration and in order to create reports. This is statistical data about our users’ browsing actions and
          patterns,
          and does not identify any individual.</p>
        <p class="my-4">For example, we use cookies on our site for Google Analytics (the “Analytics Service”). The
          Analytics Service is a
          web-based analytics tool that helps website owners understand how visitors engage with their website. The
          Analytics
          Service customers can view a variety of reports about how visitors interact with their website so that they
          can improve
          it.</p>
      </div>
    </div>
    <div
      class="p-2 md:px-8 h-auto bg-slate-800 flex-col w-screen justify-center text-white flex  items-center md:flex-row md:space-x-14">
      <p class="text-sm md:text-lg">Fear of missing out? Sign up to our Special Newsletter!</p>
      <input class="bg-white p-2 text-sm rounded-md m-4" type="text" placeholder="@MAIL">
      <button
        class="border border-solid p-2 text-xs px-4 border-red-800 rounded-md md:text-sm text-slate-400">SUBSCRIBE</button>
    </div>

  </ion-content>
</ion-app>